{
  "extends": ["airbnb", "plugin:flowtype/recommended", "prettier/flowtype"],
  "plugins": ["react", "flowtype"],
  "rules": {
    "react/prop-types": 0,
    "react/destructuring-assignment": 0,
    "react/require-default-props": 0,
    "import/no-named-as-default": 0,
    "no-underscore-dangle": 0,
    "react/default-props-match-prop-types": 0,
    "import/no-unresolved": [2, { "ignore": ["^config$"] }],
    "jsx-a11y/anchor-is-valid": 0,
    "flowtype/require-valid-file-annotation": [2, "always"]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  }
}
